body {
  background-size: cover;
  background-image: url('https://w0.peakpx.com/wallpaper/61/489/HD-wallpaper-leaves-plants-nature-dark-vertical-portrait-display.jpg');
}

.site-card-border-less-wrapper {
  display: flex;
  justify-content: center;
  background: rgba(0, 0, 0, 0.7);
  border: 1px solid rgb(120, 91, 18);
  color: black;
  /* margin: 1px; */
}

.site-page-header {
  border: 1px solid rgb(120, 91, 18);
  display: flex;
  justify-content: center;
  background-color: black;
  font-weight: bolder;
  color: goldenrod;
  padding: 10px;
  font-family: cursive;
  font-size: xx-large;
}